body{
  font-family: "Montserrat";
}

#title{
  background-color: #ff4c68;
  color: #fff;
}

p{
  font-weight: 500 !important;
  color: #8f8f8f;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem !important;
  line-height: 1.5 !important;
  font-weight: 900 !important;
}
h2{
  font-family: "Montserrat";
  font-weight: 800 !important;
  font-size: 3rem !important;
  line-height: 1.5 !important;

}

h3{
  font-weight: 1000 !important;
}

.container-fluid{
  padding : 2% 15% 8% !important;
}

/* navigation Bar */

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 3rem !important;
  font-weight: bold;
  margin-left: 0;
}

.navbar{
  padding : 0 0 4.5rem !important;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-family: "Ubuntu";
  font-size: 1.2rem;
}

/* Download button */

.download-button{
  margin: 5% 3% 5% 0;
}

/* title-image */

.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Feature Section */

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box{
  text-align: center;
}
.feature-box p{
  box-sizing: border-box;
  text-align: center;
  font-size: 18px;
  padding:5%;

}


.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}


/* Testimonial Section */

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image{
  border-radius: 100%;
  width : 15%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 50px 50px;
}


.carousel-item{
    padding: 7% 15%;
}


/* pricing */

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3%;
}


@media (max-width : 1161px) {

  #title{
    text-align: center;
  }
  
  .title-image{
    position: static;
    transform: rotate(0);
  }

  .nav-item{
    text-align: left;
    padding-left: 0;
  }
}

/* cta */

#cta{
  font-family: "Ubuntu";
  padding: 7% 15%;
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
}

.cta-heading{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer */

#footer{
  padding: 3% 6%;
  text-align: center;
}

.social-icon{
  margin: 20px 10px;
}

.social-icon:hover{
  color:#ff4c68;
}

.social-logo{
  color: #000;
}
